<!DOCTYPE html>
<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <%= javascript_include_tag "index", "data-turbolinks-track" => true %> 
  <!-- Yay working client side validation! -->
  <script type = "text/javascript">
      function validate() {
          // alert("Checking...");
          var x = $("#u_user")[0].value;
          if (x == null || x == "") {
              alert("Username must not be blank");
              return false;
          }
          else if (x.length > 128) {
              alert("Username must not be greater than 128 chars.");
              return false;
          }
          var y = $("#u_password")[0].value;
          if (y != null && y.length > 128) {
              alert("Passwoord must not be greater than 128 chars");
              return false;
          }
      }
  </script>
</head>
<body
<div class="container">
  <% if not flash[:notice] %>
      <%= content_tag :div, "Please enter your credentials below", :id => "flash_0" %>
  <% end %>
  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
  <div class = "row">
    <h1>Sign Up</h1>
    <%= form_for @user, :as => :u do |f| %>
        <p id="user_field"> Username:</br> <%= f.text_field :user %> </p>
        <p id="pw_field"> Password:</br> <%= f.password_field :password %></p>
        <%= f.submit 'Log In', :type => 'submit', :value => 'login' %>
        &nbsp;&nbsp;&nbsp;
        <%= f.submit 'Sign Up', :type => 'submit', :value => "signup", :onclick =>"return validate();" %>
    <% end %>
  </div>
</div>
</ul>
</body>
</html>